<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appSettings>
        <clear />
    </appSettings>
    
    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />
        
        <httpModules>
            <clear />
        </httpModules>
        
        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>
    
    <system.webServer>
		<defaultDocument enabled="true">
            <files>
                <clear />               
				<add value="introduction-uwp.html"/>                
				<add value="introduction-wu.html"/>  
            </files>
        </defaultDocument>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ClaimsPrincipalHttpModule" />
            <remove name="SitefinityClaimsAuthenticationModule" />
            <remove name="Sitefinity" />
            <remove name="SessionAuthenticationModule" />
            <remove name="ScriptModule" />
            <remove name="RadUploadModule" />
            <remove name="SitefinityAnalyticsModule" />
        </modules>
        <handlers>
            <remove name="xamlx-64" />
            <remove name="xamlx-script" />
            <remove name="svc-64" />
            <remove name="svc-script" />
            <remove name="xamlx" />
            <remove name="svc" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <remove name="WildCard" />
            <remove name="WildCard32" />
            <remove name="Telerik.Web.UI.DialogHandler" />
            <remove name="Telerik.RadUploadProgressHandler" />
            <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
            <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
            <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
            <remove name="Telerik.Sitefinity.Html5UploadHandler" />
            <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
            <remove name="Telerik.Web.UI.SpellCheckHandler" />
            <remove name="Telerik_Web_UI_WebResource_axd" />
            <remove name="Telerik_Web_UI_DialogHandler_aspx" />
            <remove name="Telerik.ReportViewer.axd_*" />
        </handlers>
    
        <rewrite>
            <rules>
                <clear />

                {% for directory in site.redirect_directories %}
                <rule name="redirect-{{ directory.path | replace: '/', '-' }}" enabled="true">
                    <match url="^{{ directory.path }}/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{{ directory.url }}" redirectType="Found" />
                </rule>
                {% endfor %}
                {% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
                <rule name="redirect-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true">
                    <match url="^{{ redirect | remove_first: '/' }}$" />
                    <action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" />
                </rule>
                {% endfor %}{% endfor %}
								
				<!-- Start Manually Added Redirects -->
				<rule name="redirect-installation-steps-uwp" enabled="true">
					<match url="installation-and-deployment/uwp/installationsteps-uwp" />
					<action type="Redirect" url="installation-and-deployment/installationsteps" />
				</rule>
								
				<rule name="redirect-installation-steps" enabled="true">
					<match url="installation-and-deployment/windows-universal/installationsteps" />
					<action type="Redirect" url="../windows-universal/installation-and-deployment/installationsteps" />
				</rule>
				
				<rule name="redirect-system-requirements-uwp" enabled="true">
					<match url="installation-and-deployment/uwp/systemrequirements-uwp" />
					<action type="Redirect" url="installation-and-deployment/systemrequirements" />
				</rule>
								
				<rule name="redirect-system-requirements" enabled="true">
					<match url="installation-and-deployment/windows-universal/systemrequirements" />
					<action type="Redirect" url="../windows-universal/installation-and-deployment/systemrequirements" />
				</rule>
				<rule name="redirect-install-ui-uwp" enabled="true">
					<match url="installation-and-deployment/uwp/radcontrolsforuwp-introduction-createapp" />
					<action type="Redirect" url="installation-and-deployment/radcontrolsforuwp-introduction-createapp" />
				</rule>
								
				<rule name="redirect-install-win8" enabled="true">
					<match url="installation-and-deployment/windows-universal/radcontrolsforwin8-introduction-createapp" />
					<action type="Redirect" url="../windows-universal/installation-and-deployment/radcontrolsforwin8-introduction-createapp" />
				</rule>				
				
				{% if site.site_name == 'UWP' %}				
				<rule name="redirect-data-storage-provider" enabled="true">
					<match url="data-storage(.*)" />
					<action type="Redirect" url="../windows-universal-platform/{R:0}" />
				</rule>
				
				<rule name="redirect-sample-apps" enabled="true">
					<match url="telerik-examples/samples-demos" />
					<action type="Redirect" url="../windows-universal-platform/telerik-examples/samples-demos" />
				</rule>
				
				<rule name="redirect-imageeditor" enabled="true">
					<match url="controls/radimageeditor(.*)" />
					<action type="Redirect" url="../windows-universal-platform/{R:0}" />
				</rule>
				
				<rule name="redirect-hexview" enabled="true">
					<match url="controls/radhexview(.*)" />
					<action type="Redirect" url="../windows-universal-platform/{R:0}" />
				</rule>
				
				<rule name="redirect-introduction-uwp" enabled="true">
					<match url="UWP-Introduction" />
					<action type="Redirect" url="introduction-uwp" />
				</rule>
				{% endif %}
				
				{% if site.site_name == 'WIN8' %}
				<rule name="redirect-sample-apps-dashboard" enabled="true">
					<match url="telerik-examples/samples-telerikdashboard" />
					<action type="Redirect" url="../windows-universal/telerik-examples/samples-telerikdashboard" />
				</rule>
				
				<rule name="redirect-data-storage-provider" enabled="true">
					<match url="data-storage(.*)" />
					<action type="Redirect" url="../windows-universal/{R:0}" />
				</rule>
				
				<rule name="redirect-troubleshooting-app-throws-exception-release" enabled="true">
					<match url="common/troubleshooting/appthrowsexceptioninreleasemode" />
					<action type="Redirect" url="../windows-universal/common/troubleshooting/appthrowsexceptioninreleasemode" />
				</rule>
				
				<rule name="redirect-introduction-wu" enabled="true">
					<match url="index" />
					<action type="Redirect" url="introduction-wu" />
				</rule>
				{% endif %}
				
				<!-- End Manually Added Redirects -->
				
                <rule name="add_html_extension" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
    
</configuration>
